P{
    color: black;
    font-size: xx-large;
    font-weight: 2000;
    text-align: center;
}
div{
    text-align: center;
}
fieldset{
    width: auto;
    height: auto;
    text-align: center;
    border: 5px solid rgb(70, 70, 72);
}
label{
    color: rgb(13, 98, 173);
    text-align: center;
}
input{
    width: auto;
   height: auto;
   text-align: center;
   border: 2px solid rgb(0, 191, 255);
   border-radius: 5px;
   padding: 5px;    
   font-size: larger;

}
input[type="submit"]{
    width: auto;
    height: auto;

    text-align: center;
    border: 5px solid blue;
    border-radius: 5px;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: blue;
    cursor: pointer;

}
input[type="date"]{
    color: rgb(129, 95, 160);
}